<div class="tile is-parent is-vertical is-5">
  <article class="tile is-child notification is-info">
    <p class="title">Víš kdo jsem?</p>
    <p class="subtitle">Zkus hádat!</p>
    <figure class="image is-1by1">
      <img class=" cover" [src]="actors[a].photo" alt="image of an actor" />
    </figure>
  </article>

  <article class="tile is-child notification is-danger">
    <p *ngIf="count >= 10" class="title is-4">{{ score }}</p>

    <ul>
      <li>
        <button (click)="onGoClick()" class="button is-link">
          {{ actors[a].name }}
        </button>
      </li>
      <li>
        <button class="button is-link">{{ actors[b].name }}</button>
      </li>
      <li>
        <button class="button is-link">{{ actors[c].name }}</button>
      </li>
    </ul>

    <button
      *ngIf="count < 10"
      (click)="onGoClick()"
      class="button is-primary is-4by3"
    >
      Go!
    </button>
    <button
      *ngIf="count === 10"
      (click)="onRestartClick()"
      class="button is-success is-light is-fullwidth"
    >
      Restart!
    </button>
  </article>
</div>
